<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54121632835-s6lk7bak3gca99dbao4q3lri5nidehuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54121632835-s6lk7bak3gca99dbao4q3lri5nidehuj</string>
	<key>API_KEY</key>
	<string>AIzaSyDgObO2RkZsRVHkrRtyrPmYUsjXr1VZaOg</string>
	<key>GCM_SENDER_ID</key>
	<string>54121632835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>react-native-shopping-list-app</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-shopping-list-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54121632835:ios:17bd595148e2d6f640b0f6</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-shopping-list-app.firebaseio.com</string>
</dict>
</plist>